.image-2 {
  border-radius: 20px;
}

.category-tag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  padding: 12px 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: rgba(49, 118, 255, 0.27);
}

.heading-3 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: sofia-pro, sans-serif;
  color: #1a3066;
  font-size: 24px;
  line-height: 34px;
  font-weight: 700;
  text-align: center;
}

.category-title {
  font-family: sofia-pro-soft, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1.5px;
}

.blog-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  margin-top: 0px;
  padding-top: 15px;
  padding-right: 4px;
  padding-left: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section-blog {
  min-height: 500px;
  padding: 10px 5% 120px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: #fff;
  font-size: 0px;
}

.heading-primary {
  max-width: 500px;
  margin-top: 0px;
  margin-bottom: 20px;
  color: #1a3066;
  font-size: 46px;
  line-height: 58px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary.h3-centre {
  max-width: 700px;
  margin-bottom: 0px;
  font-family: sofia-pro, sans-serif;
  color: #ff413e;
  font-size: 32px;
  text-align: center;
}

.blog-article-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 32px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
}

.blog-content {
  margin-bottom: 0px;
}

.title {
  max-width: 500px;
  margin-bottom: 15px;
  color: #3176ff;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.title-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 10px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.blog-card {
  display: block;
  overflow: hidden;
  width: 100%;
  margin-right: 0px;
  margin-bottom: 28px;
  padding: 15px 16px 35px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 14px 14px 40px 0 rgba(118, 126, 173, 0.08);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  text-align: center;
}

.blog-card:hover {
  box-shadow: 14px 14px 40px 0 rgba(118, 126, 173, 0.12);
  -webkit-transform: translate(0px, -4px);
  -ms-transform: translate(0px, -4px);
  transform: translate(0px, -4px);
}

.blog-card.blog-card-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1)));
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

.container {
  width: 100%;
  max-width: 1240px;
  margin-top: 0px;
  margin-right: auto;
  margin-left: auto;
}

.column {
  width: 33%;
  padding: 0px 10px;
}

.button-default {
  padding: 10px 35px 13px;
  border-radius: 50px;
  background-color: #00d45f;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: sofia-pro-soft, sans-serif;
  font-size: 24px;
}

.button-default:hover {
  background-color: #343af0;
}

.paragraph {
  max-width: 490px;
  margin-right: 24px;
  font-family: sofia-pro-soft, sans-serif;
  color: #546681;
  font-size: 20px;
  line-height: 1.3;
  font-style: normal;
}

.phone-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  margin-right: 15px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
  align-self: auto;
}

.navigation {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: auto;
  z-index: 9;
  min-height: 100px;
  padding: 25px 5%;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.08);
}

.button-navigation {
  margin-right: 15px;
  padding: 18px 35px;
  border-radius: 50px;
  background-color: #00d45f;
  font-family: sofia-pro-soft, sans-serif;
  font-size: 24px;
}

.dropdown-list {
  background-color: transparent;
}

.dropdown-list.w--open {
  z-index: 7;
  min-width: 460px;
  padding-top: 15px;
  border-radius: 15px;
}

.dropdown-list.dropdown-smaller {
  left: -30px;
  min-width: 360px;
}

.navigation-block-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.title-wrap-horizontal {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.feature-content-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.new-tag {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 8px;
  padding: 4px 16px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: rgba(45, 202, 115, 0.1);
  color: #2dca73;
  font-size: 12px;
}

.navigation-link-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-block-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.navigation-text {
  width: 200%;
  text-decoration: none;
}

.feature-icon {
  width: 26px;
  margin-right: 16px;
}

.dropdown-list-wrap {
  position: relative;
  z-index: 9;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: visible;
  padding: 15px 12px;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 1px 1px 9px 0 rgba(44, 62, 80, 0.1);
}

.paragraph-small {
  max-width: 450px;
  margin-bottom: 0px;
  color: #3b4c5b;
  font-size: 14px;
  letter-spacing: -0.2px;
}

.container-navigation {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1240px;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.feature-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 12px 15px 10px;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  border-radius: 10px;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  text-decoration: none;
}

.feature-wrap:hover {
  background-color: rgba(72, 77, 255, 0.03);
}

.navigation-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 12px 14px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #546681;
  font-size: 16px;
  text-decoration: none;
}

.navigation-link:hover {
  color: #484dff;
}

.dropdown-column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.arrow-down {
  margin-right: 7px;
  margin-left: 8px;
}

.dropdown-mobile {
  display: none;
}

.mobile-button-link {
  display: none;
}

.short-title {
  margin-bottom: 2px;
  color: #2e3642;
  font-size: 17px;
  line-height: 22px;
  font-weight: 500;
}

.section {
  height: 1000px;
}

.paragraph-2 {
  max-width: 490px;
  margin-right: 24px;
  font-family: sofia-pro-soft, sans-serif;
  color: #546681;
  font-size: 20px;
  line-height: 1.3;
  font-style: normal;
}

.button {
  margin-right: 15px;
  padding: 18px 35px;
  border-radius: 45px;
  background-color: #3176ff;
  font-size: 16px;
}

.button.button-space {
  margin-top: 25px;
}

.column-wrap-reversed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
  -ms-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

.column-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.content-block-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 350px;
  padding: 25px 25px 25px 55px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.content-wrap {
  position: relative;
  max-width: 590px;
}

.heading-primary-2 {
  max-width: 500px;
  margin-top: 0px;
  margin-right: -62px;
  margin-bottom: 20px;
  font-family: sofia-pro-soft, sans-serif;
  color: #1a3066;
  font-size: 46px;
  line-height: 58px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.title-2 {
  max-width: 500px;
  margin-bottom: 15px;
  font-family: sofia-pro, sans-serif;
  color: #3176ff;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.content-block-left {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 350px;
  padding: 25px 55px 0px 10px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-block {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  min-height: 350px;
  padding: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.sticky-nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 1;
  height: 80px;
  padding: 20px;
  background-color: #fff;
}

.nav-grid {
  display: -ms-grid;
  display: grid;
  width: 100%;
  margin: -9px 0px 0px;
  padding: 0px;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  justify-items: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  grid-auto-flow: column;
  grid-auto-columns: -webkit-max-content;
  grid-auto-columns: max-content;
  grid-column-gap: 34px;
  grid-row-gap: 20px;
  -ms-grid-columns: 1fr -webkit-max-content;
  -ms-grid-columns: 1fr max-content;
  grid-template-columns: 1fr -webkit-max-content;
  grid-template-columns: 1fr max-content;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.nav-logo-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  margin-right: 0px;
  margin-left: 0px;
  padding: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.nav-logo {
  width: auto;
  height: 90%;
  margin-top: 18px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
}

.nav-link {
  display: block;
  margin-right: 0px;
  margin-left: 0px;
  padding: 10px 0px;
  font-family: sofia-pro, sans-serif;
  color: #444;
  font-size: 18px;
  font-weight: 400;
  text-decoration: none;
}

.nav-link:hover {
  text-decoration: underline;
}

.lottie-animation-2 {
  margin-right: -119px;
  margin-left: -60px;
  padding-right: 0px;
  padding-left: 0px;
}

.heading-4 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: sofia-pro-soft, sans-serif;
  color: #1a3066;
  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  text-align: left;
}

.blog-content-wrap-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 140px;
  margin-top: 10px;
  padding-top: 15px;
  padding-right: 4px;
  padding-left: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.container-2 {
  width: 100%;
  max-width: 1240px;
  margin: 20px auto 40px;
}

.blog-content-2 {
  margin-bottom: 25px;
}

.paragraph-3 {
  max-width: 490px;
  font-family: sofia-pro-soft, sans-serif;
  color: #546681;
  font-size: 17px;
  line-height: 1.3;
  font-style: normal;
  text-align: left;
}

.column-2 {
  width: 33%;
  padding: 0px 10px 10px;
}

.button-default-2 {
  padding: 18px 35px;
  border-radius: 50px;
  background-color: #00d45f;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: sofia-pro-soft, sans-serif;
  font-size: 24px;
}

.button-default-2:hover {
  background-color: #343af0;
}

.title-wrap-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  margin-bottom: 35px;
  padding-right: 10px;
  padding-left: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: left;
}

.heading-primary-3 {
  max-width: 500px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: sofia-pro-soft, sans-serif;
  color: #1a3066;
  font-size: 46px;
  line-height: 58px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.heading-primary-3.h3-centre {
  max-width: 700px;
  margin-bottom: 0px;
  font-family: sofia-pro-soft, sans-serif;
  text-align: center;
}

.image-3 {
  margin-bottom: 25px;
}

.image-4 {
  margin-top: 10px;
  margin-left: 10px;
}

.section-2 {
  height: 50vh;
}

.container-3 {
  max-width: 1280px;
  margin-top: 301px;
}

.image-5 {
  border-radius: 20px;
}

.container-4 {
  max-width: 1240px;
}

.container-5 {
  max-width: 1240px;
  margin-top: 63px;
  margin-bottom: 53px;
  padding-bottom: 0px;
}

.image-6 {
  border-radius: 14px;
}

.heading-5 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: sofia-pro-soft, sans-serif;
  color: #1a3066;
  font-size: 3px;
  line-height: 48px;
  font-weight: 700;
  text-align: center;
}

.blog-card-2 {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  margin-right: 0px;
  margin-bottom: 28px;
  padding: 15px 16px 0px;
  border-radius: 20px;
  background-color: #fff;
  box-shadow: 14px 14px 40px 0 rgba(118, 126, 173, 0.08);
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  text-align: center;
}

.blog-card-2:hover {
  box-shadow: 14px 14px 40px 0 rgba(118, 126, 173, 0.12);
  -webkit-transform: translate(0px, -4px);
  -ms-transform: translate(0px, -4px);
  transform: translate(0px, -4px);
}

.blog-card-2.blog-card-2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.1)), to(rgba(255, 255, 255, 0.1)));
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
}

.image-7 {
  position: static;
  top: -55px;
  z-index: 0;
  border-radius: 14px;
}

.category-tag-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: -1px;
  margin-bottom: 39px;
  padding: 12px 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50px;
  background-color: #ff413e;
}

.button-default-3 {
  margin-bottom: 34px;
  padding: 18px 35px;
  border-radius: 50px;
  background-color: #00d45f;
  -webkit-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
  font-family: sofia-pro-soft, sans-serif;
  font-size: 24px;
}

.button-default-3:hover {
  background-color: #343af0;
}

.blog-content-wrap-3 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 140px;
  margin-top: 10px;
  padding-top: 15px;
  padding-right: 4px;
  padding-left: 4px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.div-block {
  margin-top: -22px;
  margin-bottom: 21px;
}

.button-2 {
  font-size: 18px;
}

.button-3 {
  width: 200px;
  height: 40px;
  border-radius: 20px;
  background-color: #ff413e;
  font-family: sofia-pro, sans-serif;
  font-size: 18px;
  text-align: center;
}

@media screen and (max-width: 991px) {
  .section-blog {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .blog-card {
    padding: 20px 20px 35px;
  }

  .column {
    width: 100%;
  }

  .mobiel-dropdown {
    right: 10%;
  }

  .mobiel-dropdown.w--open {
    min-width: 270px;
    margin-top: 74px;
    padding: 20px;
    border-radius: 15px;
    background-color: #fff;
    box-shadow: 1px 1px 3px 0 rgba(84, 102, 129, 0.13);
  }

  .navigation-block-right {
    width: 100%;
  }

  .navigation-link-wrap {
    display: none;
  }

  .feature-icon {
    margin-bottom: 15px;
  }

  .container-navigation {
    position: relative;
    z-index: 99;
  }

  .feature-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .dropdown-toggle {
    padding: 0px;
  }

  .dropdown-link {
    width: 100%;
    min-width: 170px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 10px;
    color: #3b4c5b;
    font-size: 16px;
  }

  .dropdown-link:hover {
    background-color: rgba(115, 167, 213, 0.09);
  }

  .dropdown-link.w--current {
    color: #ff6f20;
  }

  .dropdown-mobile {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-right: 0px;
    margin-left: 15px;
  }

  .mobile-button-link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 55px;
    height: 55px;
    padding: 17px;
    border-radius: 50px;
    background-color: rgba(84, 102, 129, 0.08);
  }

  .column-wrap-reversed {
    margin-bottom: 80px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .column-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .content-block-right {
    width: 100%;
    padding-left: 25px;
  }

  .content-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 35px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }

  .content-block-left {
    width: 100%;
    padding-right: 25px;
  }

  .image-block {
    width: 100%;
    min-height: auto;
    margin-bottom: 35px;
  }

  .column-2 {
    width: 100%;
  }

  .blog-card-2 {
    padding: 20px 20px 35px;
  }
}

@media screen and (max-width: 767px) {
  .section-blog {
    padding-right: 3%;
    padding-left: 3%;
  }

  .blog-card {
    width: 100%;
    margin-bottom: 35px;
  }

  .phone-wrap {
    display: none;
  }

  .button-navigation {
    display: none;
  }

  .navigation-link-wrap {
    display: none;
  }

  .content-block-right {
    padding: 10px;
  }

  .sticky-nav {
    position: relative;
  }

  .nav-grid {
    text-align: center;
  }

  .blog-card-2 {
    width: 100%;
    margin-bottom: 35px;
  }
}

@media screen and (max-width: 479px) {
  .blog-card {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .phone-wrap {
    display: none;
  }

  .navigation {
    padding-right: 20px;
    padding-left: 20px;
  }

  .button {
    margin-right: 0px;
    margin-bottom: 15px;
  }

  .column-wrap-reversed {
    margin-bottom: 0px;
  }

  .image-block {
    padding: 8px;
  }

  .sticky-nav {
    padding: 0px;
  }

  .nav-grid {
    grid-auto-flow: row;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: 100px;
    grid-template-rows: 100px;
  }

  .nav-logo-link {
    border-top: 1px solid #c4c4c4;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    border-top: 1px solid #c4c4c4;
  }

  .blog-card-2 {
    padding-top: 10px;
    padding-right: 10px;
    padding-left: 10px;
  }
}

#w-node-bd90d05d-d837-3282-0e82-96a17ecbc76e-8f18e05e {
  -ms-grid-column-align: start;
  justify-self: start;
}

@media screen and (max-width: 479px) {
  #w-node-bd90d05d-d837-3282-0e82-96a17ecbc76e-8f18e05e {
    -ms-grid-column-align: center;
    justify-self: center;
  }
}

